.initial-survey-container {
  background: white;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  border-radius: 5px;
  color: rgb(47, 53, 131) !important;
  font-size: 13px;
  font-weight: bolder;
  text-align: left;
}
